[submodule "oh-my-zsh/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/plugins/zsh-completions"]
	path = oh-my-zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "oh-my-zsh/plugins/zsh-interactive-cd"]
	path = oh-my-zsh/plugins/zsh-interactive-cd
	url = https://github.com/changyuheng/zsh-interactive-cd
[submodule "vim"]
	path = vim
	url = https://github.com/tantao700/vim-vide.git
